@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Primary Meta Tags -->
    <title>註冊</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Volt Premium Bootstrap Dashboard - Sign up page">
    <meta name="author" content="Themesberg">
    <meta name="description" content="Volt Pro is a Premium Bootstrap 5 Admin Dashboard featuring over 800 components, 10+ plugins and 20 example pages using Vanilla JS.">
    <meta name="keywords" content="bootstrap 5, bootstrap, bootstrap 5 admin dashboard, bootstrap 5 dashboard, bootstrap 5 charts, bootstrap 5 calendar, bootstrap 5 datepicker, bootstrap 5 tables, bootstrap 5 datatable, vanilla js datatable, themesberg, themesberg dashboard, themesberg admin dashboard" />
    <link rel="canonical" href="https://themesberg.com/product/admin-dashboard/volt-premium-bootstrap-5-dashboard">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://demo.themesberg.com/volt-pro">
    <meta property="og:title" content="Volt Premium Bootstrap Dashboard - Sign up page">
    <meta property="og:description" content="Volt Pro is a Premium Bootstrap 5 Admin Dashboard featuring over 800 components, 10+ plugins and 20 example pages using Vanilla JS.">
    <meta property="og:image" content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/volt-pro-bootstrap-5-dashboard/volt-pro-preview.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://demo.themesberg.com/volt-pro">
    <meta property="twitter:title" content="Volt Premium Bootstrap Dashboard - Sign up page">
    <meta property="twitter:description" content="Volt Pro is a Premium Bootstrap 5 Admin Dashboard featuring over 800 components, 10+ plugins and 20 example pages using Vanilla JS.">
    <meta property="twitter:image" content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/volt-pro-bootstrap-5-dashboard/volt-pro-preview.jpg">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="120x120" href="~/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="~/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Sweet Alert -->
    <link type="text/css" href="~/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

    <!-- Notyf -->
    <link type="text/css" href="~/vendor/notyf/notyf.min.css" rel="stylesheet">

    <!-- Volt CSS -->
    <link type="text/css" href="~/css/volt.css" rel="stylesheet">

    <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->


    <main>

        <!-- Section -->
        <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
            <div class="container">
                @*<p class="text-center">
                        <a href="~/Dashboard/Signin" class="d-flex align-items-center justify-content-center">
                            <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
                            返回登入
                        </a>
                    </p>*@
                <div class="row justify-content-center form-bg-image" id="backgdimg">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">管理員註冊</h1>
                            </div>
                            <form asp-action="Signup" enctype="multipart/form-data" class="mt-4">
                                <!-- Form -->
                                <div class="form-group mb-1 ">
                                    <label for="email">Email</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                                        </span>
                                        <input type="email" class="form-control" placeholder="example@company.com" id="email" name="Email" autofocus required>
                                    </div>
                                </div>
                                <label id="warnEmail" class="offset-sm-1"></label>
                                <!-- End of Form -->
                                <div class="form-group">
                                    <!-- Form -->
                                    <div class="form-group mb-1">
                                        <label for="password" style="font-weight:bold">密碼</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2">
                                                <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
                                            </span>
                                            <input type="password" class="form-control" id="password" name="Password" placeholder="需含大小寫英數字，且最少8個字" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{6,}$" required>
                                            <input type="hidden" name="ProductOK" />
                                            <input type="hidden" name="MemberOK" />
                                            <input type="hidden" name="OrderOK" />
                                            <input type="hidden" name="ArticleOK" />
                                            <input type="hidden" name="AdminOK" />
                                            <div class="input-group-append" >
                                                <button class="btn btn-light" type="button" id="btneye1" ><i class="fa-solid fa-eye-slash"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <label id="warnPW" class="offset-sm-1"></label>
                                    <!-- End of Form -->
                                    <!-- Form -->
                                    <div class="form-group mb-1">
                                        <label for="confirm_password" style="font-weight:bold">確認密碼</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2">
                                                <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
                                            </span>
                                            <input type="password" placeholder="確認密碼" class="form-control" id="confirm_password" required>
                                            <div class="input-group-append">
                                                <button class="btn btn-light" type="button" id="btneye2"><i class="fa-solid fa-eye-slash"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <label id="warnConfirmPW" class="offset-1"></label>
                                    <!-- End of Form -->
                                </div>
                                <div class="d-grid">
                                    <input type="submit" class="btn btn-gray-800" style="font-weight:bold" value="註冊" id="submit"/>
                                </div>
                            </form>
                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="fw-normal">
                                    已經有帳號了?
                                    <a href="~/Dashboard/Signin" class="fw-bold">登入</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Core -->
    <script src="~/vendor/_popperjs/core/dist/umd/popper.min.js"></script>
    <script src="~/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Vendor JS -->
    <script src="~/vendor/onscreen/dist/on-screen.umd.min.js"></script>

    <!-- Slider -->
    <script src="~/vendor/nouislider/distribute/nouislider.min.js"></script>

    <!-- Smooth scroll -->
    <script src="~/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

    <!-- Charts -->
    <script src="~/vendor/chartist/dist/chartist.min.js"></script>
    <script src="~/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>

    <!-- Datepicker -->
    <script src="~/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

    <!-- Sweet Alerts 2 -->
    <script src="~/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>

    <!-- Moment JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

    <!-- Vanilla JS Datepicker -->
    <script src="~/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

    <!-- Notyf -->
    <script src="~/vendor/notyf/notyf.min.js"></script>

    <!-- Simplebar -->
    <script src="~/vendor/simplebar/dist/simplebar.min.js"></script>

    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- Volt JS -->
    <script src="~/assets/js/volt.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

</body>

</html>
<script>
    let inputEmail = $("#email"),
        warnEmail = $("#warnEmail"),
        inputPW = $("#password"),
        warnPW = $("#warnPW"),
        re = /^.*[0-9a-zA-Z].{8,50}$/,
        inputCkPW = $("#confirm_password"),
        warnCkPW = $("#warnConfirmPW"),
        eyeclick1 = false,
        eyeclick2 = false,
        flagEmail = false,
        flagPsd = false,
        flagCfmPsd = false,
        div = document.querySelector("#backgdimg");

    function check() {
        if (flagCfmPsd && flagEmail && flagPsd) {
            $("#submit").attr("type", "submit");
        }
        else {
            $("#submit").attr("type", "button");
        }
    };

    div.style.backgroundImage = "url('@Url.Content("~/assets/img/illustrations/signin.png")')";

    $("#btneye1").click(function () {
        eyeclick1 = !eyeclick1;
        if (eyeclick1) {
            $("#btneye1").html('<i class="fa-solid fa-eye"></i>');
            inputPW.attr("type", "text");
        }
        else {
            $("#btneye1").html('<i class="fa-solid fa-eye-slash"></i>');
            inputPW.attr("type", "password");
        }
    })

    $("#btneye2").click(function () {
        eyeclick2 = !eyeclick2;
        if (eyeclick2) {
            $("#btneye2").html('<i class="fa-solid fa-eye"></i>');
            inputCkPW.attr("type", "text");
        }
        else {
            $("#btneye2").html('<i class="fa-solid fa-eye-slash"></i>');
            inputCkPW.attr("type", "password");
        }
    })

    function EmptyWarn(ele,strinput) {
        ele.html(`${strinput}不得為空`).css("color", "red");
    }

    function ExistWarn(ele, strinput) {
        ele.html(`${strinput}已存在`).css("color", "red");
    }

    function OkWarn(ele) {
        ele.html(`<i class="fa-solid fa-circle-check"></i>`).css("color", "#73BF00");
    }

    inputEmail.blur(async () => {
        if (inputEmail.val().trim() == "") {
            EmptyWarn(warnEmail, "Email");
            flagEmail = false;
        }
        else {
            const response = await fetch('@Url.Content("~/Api/IfEmailExist")' + `?Email=${inputEmail.val()}`);
            const datas = await response.text();
                if (datas == "True") {
                    ExistWarn(warnEmail, "Email");
                    flagEmail = false;
                }
                else {
                    OkWarn(warnEmail);
                    flagEmail = true;
                }
        }

        check();
    })

    inputPW.blur(() => {
        if (re.test(inputPW.val())) {
            OkWarn(warnPW);
            flagPsd = true;
        }
        else {
            warnPW.html("密碼格式錯誤").css("color", "red");
            flagPsd = false;
        }

        check();
    })

    inputCkPW.blur(() => {
        if (inputCkPW.val() == inputPW.val()) {
            OkWarn(warnCkPW);
            flagCfmPsd = true;
        }
        else {
            warnCkPW.html("密碼不一致").css("color", "red");
            flagCfmPsd = false;
        }

        check();
    })
</script>